<ion-view view-title="Settings">
  <ion-content scroll="false">

    <div class="card">
      <ion-list>
        <ion-item class="item-assertive big-text">
          Player One
        </ion-item>
        <ion-item>
          <label class="item item-input">
            <input type="text" ng-model="playerList.one">
          </label>
        </ion-item>
      </ion-list>
    </div>

    <div class="card">
      <ion-list>
        <ion-item class="item-positive big-text">
          Player Two
        </ion-item>
        <ion-item>
          <label class="item item-input">
            <input type="text" ng-model="playerList.two">
          </label>
        </ion-item>
      </ion-list>
    </div>

    <div class="card">
      <ion-list>
        <ion-item class="item-energized big-text">
          Player Three
        </ion-item>
        <ion-item>
          <label class="item item-input">
            <input type="text" ng-model="playerList.three">
          </label>
        </ion-item>
      </ion-list>
    </div>

    <div class="card">
      <ion-list>
        <ion-item class="item-dark big-text">
          Question Set
        </ion-item>
        <ion-item class="item-icon-right" ng-click="switchQuestions(1)">
          Set A
          <i class="icon ion-android-done" ng-if="selectedId === 1"></i>
        </ion-item>
        <ion-item class="item-icon-right" ng-click="switchQuestions(2)">
          Set B
          <i class="icon ion-android-done" ng-if="selectedId === 2"></i>
        </ion-item>
      </ion-list>
    </div>

    <button class="button button-royal button-full" ng-click="gameReset">Reset Game</button>

  </ion-content>
</ion-view>
