<ion-tabs class="tabs-icon-top tabs-dark">

  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
    ng-click="showSettings()">
    <ion-nav-view name="tab-players"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Board" icon-off="ion-ios-game-controller-a-outline" icon-on="ion-ios-game-controller-a"
    ui-sref="main.boardone">
    <ion-nav-view name="tab-boardOne"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Answers" icon-off="ion-ios-list-outline" icon-on="ion-ios-list"
    ui-sref="main.boardtwo">
    <ion-nav-view name="tab-boardTwo"></ion-nav-view>
  </ion-tab>

</ion-tabs>
